<HTml>
    <head></head>
    <body>
        
    
        <a href="/formtext">formtext</a>
<a href="/industry">/industry</a>
<a href="/events">events</a>
<a href="/staff">editstaff</a>
    <form method="POST" action="/industrypartneradmin/add" enctype="multipart/form-data">
      
        <br>
                        Image:  <br>   <input type="file"  name="image" style="margin-left: 10%;">
                        <button style="color: white;background-color: green;">Add</button>
                    </form>
                </div>

           

                </body>
                </HTml>


                