<div class="row">    
    <form method="POST" action="/industrypartneradmin" enctype="multipart/form-data">
        <br>
                        Image:  <br>   <input type="file" required name="image" style="margin-left: 10%;">
                        <button style="color: white;background-color: green;">Add</button>
                    </form>
                </div>